<div class="col-lg-12 grid-margin stretch-card" style="margin-top: 70px;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Tableau Assistantes</h4>
      <div class="" style="text-align:center">
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4">
            <button (click)="nav()" class="icon-btn add-btn">
              <div class="add-icon"></div>
              <div class="btn-txt">Ajouter</div>
            </button>
          </div>
          <div class="col-4">
            <input type="text" class="input-group form-control" [(ngModel)]="termFirstName" name="Search"
            placeholder="Search by FirstName" style="border-color:rgb(203, 0, 0);width:380px;height:40px;margin-top:5px;">
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                image
              </th>
              <th>
                Prénom
              </th>
              <th>
                Nom de famille
              </th>
              <th>
                email
              </th>
              <th>
                role
              </th>
              <th>
                status
              </th>
              <th>
                Modifier
              </th>
              <th>
                Delet
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let E of pageOfItems">
            <tr>
              <td class="py-1">
                <img [src]="E.avatar" alt="image" />
              </td>
              <td>
                {{E.firstName}}
              </td>
              <td>
                {{E.lastName}}
              </td>
              <td>
                {{E.email}}
              </td>
              <td *ngIf="E.role=='employeur logistique'" style="color: green;">
                assistante logistique
              </td>
              <td *ngIf="E.role=='employeur commercial'" style="color: green;">
                assistante commercial
              </td>
              <td *ngIf="E.role=='employeur financier'" style="color: green;">
                assistante financier
              </td>
              <td *ngIf="E.role=='employeur technique'" style="color: green;">
                assistante technique
              </td>
              <td>
                <button *ngIf="E.status=='yes'" (click)="editStatusUser(E._id,'no')" class="btn1">
                  Oui
                </button>
                <button *ngIf="E.status=='no'" (click)="editStatusUser(E._id,'yes')" class="btn2">
                  Non
                </button>
              </td>
              <td>
                <div (click)="editUser(E._id)" class="button">
                    <div class="button-wrapper">
                        <div class="text">
                            <div>
                              modifier
                            </div>
                            <div style="margin-left:10px;">
                                <svg fill="#FFFFFF" width="15px" height="15px" viewBox="0 0 512 512">
                                    <path
                                        d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span class="icon">
                          assistante!
                        </span>
                    </div>
                </div>
            </td>
              <td>
                <button (click)="Delet(E._id)" type="button" class="btn btn-inverse-danger btn-icon">
                  <i class="ti-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-footer pb-0 pt-10">
          <jw-pagination [items]="employeursTab| filterFirstName:termFirstName" (changePage)="onChangePage($event)"[pageSize]="10"></jw-pagination>
      </div>
      </div>
    </div>
  </div>
</div>