<div class="text-center" style="margin-top:70px;">
    <div style="margin-right:6px;" class="row">
        <div class="col">
            <app-icon-user-admin></app-icon-user-admin>
        </div>
        <div class="col">
        </div>
        <div style="margin-left:210px;" class="col">
            <app-icon-entreprise-admin></app-icon-entreprise-admin>
        </div>
    </div>
</div>
<div style="margin-top:30px;" class="container">
    <app-chart-post-user-admin></app-chart-post-user-admin>
</div>
<div style="margin-right:6px;margin-top:30px;" class="row">
    <div class="col-lg-6">
        <app-chart-status-user-admin></app-chart-status-user-admin>
    </div>
    <div class="col-lg-6">
        <app-chart-sexe-user-admin></app-chart-sexe-user-admin>
    </div>
</div>
<div>
<div style="margin-top:30px;" class="container">
    <app-chart-country-user-admin></app-chart-country-user-admin>
</div>