<div class="text-center" style="margin-top:70px;">
    <div style="margin-right:6px;" class="row">
        <div class="col-5">
            <div>
                <app-icon-clinet-rc></app-icon-clinet-rc>
            </div>
            <div style="margin-top:40px;">
                <app-icon-commande-rc></app-icon-commande-rc>
            </div>
        </div>
        <div class="col-7">
            <app-chart-status-commande-rc></app-chart-status-commande-rc>
        </div>
    </div>
</div>
<div style="margin-top:30px;" class="container">
    <app-chart-country-client-rc></app-chart-country-client-rc>
</div>
<div style="margin-right:6px;margin-top:30px;" class="row">
    <div class="col-lg-6">
        <app-chart-status-clinet-rc></app-chart-status-clinet-rc>
    </div>
    <div class="col-lg-6">
        <app-chart-sexe-client-rc></app-chart-sexe-client-rc>
    </div>
</div>
<div>
<div style="margin-top:30px;" class="container">
    <app-chart-somme-commande-for-product-rc></app-chart-somme-commande-for-product-rc>
</div>