<!-- hero area -->
<section class="hero-section hero" data-background="" style="background-image: url(assets/images/hero-area/banner-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center zindex-1">
        <h1 class="mb-3">Créer votre virtuel entreprise<br>
            <section class="animation">
              <div class="first"><div>Electronique</div></div>
              <div class="second"><div>Mecanique</div></div>
              <div class="third"><div>Vetement</div></div>
              <div class="first2"><div>Optician</div></div>
              <div class="first3"><div>Musique</div></div>
              <div class="first4"><div>Meubles</div></div>
              <div class="first5"><div>Parapharmacy</div></div>
              <div class="first6"><div>auters...</div></div>
            </section>
        </h1>
        <p class="mb-4">SmartBI et un logiciels qui permettent respectivement de gérer les ressources de l'entreprise et les relations avec les clients.<br>
           combine ces deux fonctionnalités pour une gestion globale et intégrée de l'entreprise.</p>
        <a routerLink="CategoryVente" class="btn btn-secondary btn-lg">Sign up</a>
        <!-- banner image -->
        <img class="img-fluid w-100 banner-image" src="assets/images/hero-area/banner-img.png" alt="banner-img">
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="assets/images/background-shape/feature-bg-2.png" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="assets/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="assets/images/background-shape/seo-half-cycle.png"
      alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="assets/images/background-shape/green-dot.png" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="assets/images/background-shape/blue-half-cycle.png"
      alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="assets/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="assets/images/background-shape/yellow-triangle.png"
      alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="assets/images/background-shape/service-half-cycle.png"
      alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="assets/images/background-shape/team-bg-triangle.png" alt="">
  </div>
</section>
<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="assets/images/marketing/marketing.png" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">Une gamme complète de services de <br> ERP-CRM</h2>
        <p>Le progiciel ERP-CRM "SmartBI" est une solution tout-en-un pour la gestion de l'entreprise, qui permet d'optimiser les processus métier et d'améliorer les relations avec les clients. <br> Avec une seule plateforme, les entreprises peuvent gérer leurs finances, leurs stocks, leurs ressources humaines, ainsi que leurs relations clients. <br> Les avantages incluent une meilleure efficacité opérationnelle, une amélioration de l'expérience client et une augmentation de la productivité globale. <br> Inscrivez-vous dès maintenant pour bénéficier d'une solution de gestion complète et intégrée qui peut aider à faire croître votre entreprise.
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="assets/images/backgrounds/seo-bg.png" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="assets/images/background-shape/seo-ball-1.png" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="assets/images/background-shape/seo-half-cycle.png" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="assets/images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->
