<div class="text-center" style="margin-top:70px;">
  <div style="margin-right:6px;" class="row">
    <div style="margin-left:65px;" class="col">
      <app-icon-reclamation-rt></app-icon-reclamation-rt>
    </div>
    <div class="col">
      <div style="margin-left:20px;">
        <app-icon-category-rl></app-icon-category-rl>
      </div>
    </div>
    <div class="col">
      <app-icon-qty-product-reclamation-rt></app-icon-qty-product-reclamation-rt>
    </div>
  </div>
</div>
<div style="margin-top:50px;" class="container">
  <app-chart-qty-product-reclamation-for-category-service-rt></app-chart-qty-product-reclamation-for-category-service-rt>
</div>
<div>
  <div style="margin-right:6px;margin-top:50px;" class="row">
    <div class="col">
      <app-chart-qty-product-reclamation-for-category-rt></app-chart-qty-product-reclamation-for-category-rt>
    </div>
    <div class="col">
      <app-chart-status-reclamation-rt></app-chart-status-reclamation-rt>
    </div>
  </div>
  <div style="margin-top:50px;" class="container">
    <app-chart-qty-product-reclamation-for-product-rt></app-chart-qty-product-reclamation-for-product-rt>
  </div>