<div class="container emp-profile" style="margin-top:110px;">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <br>
                <h2 *ngIf="user.role!='entreprise'" style="color: blue;">
                    {{user.firstName}}
                </h2>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4">
                <div class="profile-img">
                    <img [src]="user.avatar" alt=""/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user._id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6" *ngIf="user.role!='entreprise'">
                                        <p>{{user.firstName}} {{user.lastName}}</p>
                                    </div>
                                    <div class="col-md-6" *ngIf="user.role=='entreprise'">
                                        <p>{{user.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.tel}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Country</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.country}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Post</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.role}}</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>