<div class="text-center" style="margin-top:70px;">
    <div style="margin-right:6px;" class="row">
        <div class="col">
            <app-icon-user-rh></app-icon-user-rh>
        </div>
        <div class="col-8">
                <app-chart-role-employeur-rh></app-chart-role-employeur-rh>
        </div>
    </div>
</div>
<div style="margin-right:6px;margin-top:30px;" class="row">
    <div class="col-lg-6">
        <app-chart-status-employeur-rh></app-chart-status-employeur-rh>
    </div>
    <div class="col-lg-6">
        <app-chart-sexe-employeur-rh></app-chart-sexe-employeur-rh>
    </div>
</div>
<div>
<div style="margin-top:30px;" class="container">
    <app-chart-country-employeur-rh></app-chart-country-employeur-rh>
</div>