<div class="text-center" style="margin-top:70px;">
    <div style="margin-right:6px;" class="row">
        <div style="margin-left:30px;" class="col">
            <app-icon-product-rl></app-icon-product-rl>
        </div>
        <div class="col">
            <app-icon-category-rl></app-icon-category-rl>
        </div>
        <div class="col">
            <app-icon-stock-rl></app-icon-stock-rl>
        </div>
        <div class="col">
            <app-icon-ventes-rl></app-icon-ventes-rl>
        </div>
    </div>
</div>
<div style="margin-top:50px;" class="container">
    <app-chart-qty-product-vente-et-non-vente></app-chart-qty-product-vente-et-non-vente>
</div>
<div style="margin-right:6px;margin-top:50px;" class="row">
    <div class="col-lg-6">
        <app-chart-status-product-rl></app-chart-status-product-rl>
    </div>
    <div class="col-lg-6">
        <app-chart-somme-product-for-category-rl></app-chart-somme-product-for-category-rl>
    </div>
</div>
<div>
    <div style="margin-right:6px;margin-top:50px;" class="row">
        <div class="col">
            <app-chart-somme-stock-for-category-rl></app-chart-somme-stock-for-category-rl>
        </div>
        <div class="col">
            <app-chart-somme-stock-ventes-for-category-rl></app-chart-somme-stock-ventes-for-category-rl>
        </div>
    </div>