<div class="text-center" style="margin-top:70px;">
    <div style="margin-right:6px;" class="row">
        <div style="margin-left:10px;" class="col">
        <app-icon-category-rl></app-icon-category-rl>
        </div>
        <div class="col">
            <app-icon-tva-rf></app-icon-tva-rf>
        </div>
        <div class="col">
            <app-icon-salaire-rf></app-icon-salaire-rf>
        </div>
        <div class="col">
            <app-icon-benefices-rf></app-icon-benefices-rf>
        </div>
    </div>
</div>
<div style="margin-right:6px;margin-top:50px;" class="row">
    <div class="col-lg-6">
        <app-chart-pourcentage-des-benefices-des-produits-vendus-rf></app-chart-pourcentage-des-benefices-des-produits-vendus-rf>
    </div>
    <div class="col-lg-6">
        <app-chart-pourcentage-des-benefices-des-produits-non-vendus-rf></app-chart-pourcentage-des-benefices-des-produits-non-vendus-rf>
    </div>
</div>
<div style="margin-right:6px;margin-top:50px;" class="row">
    <div class="col-lg-6">
        <app-chart-pourcentage-des-benefices-des-categorie-vendus-rf></app-chart-pourcentage-des-benefices-des-categorie-vendus-rf>
    </div>
    <div class="col-lg-6">
        <app-chart-pourcentage-des-benefices-des-categorie-non-vendus-rf></app-chart-pourcentage-des-benefices-des-categorie-non-vendus-rf>
    </div>
</div>
<div>
    <div style="margin-right:6px;margin-top:50px;" class="row">
        <div class="col">
            <app-chart-le-cart-plus-rentables-rf></app-chart-le-cart-plus-rentables-rf>
        </div>
        <div class="col">
            <app-chart-les-produit-les-plus-rentabls-tva-rf></app-chart-les-produit-les-plus-rentabls-tva-rf>
        </div>
    </div>