<div class="col-lg-12 grid-margin stretch-card" style="margin-top: 70px;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tableau Produits</h4>
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4">
            <input type="text" class="input-group form-control" [(ngModel)]="termName" name="Search"
            placeholder="Search by name" style="border-color:rgb(255, 0, 255);width:380px;height:40px;margin-top:5px;">
          </div>
          <div class="col-4">
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  image
                </th>
                <th>
                  Nom
                </th>
                <th>
                  Categorie
                </th>
                <th>
                  quantité
                </th>
                <th>
                  Prix
                </th> 
                <th>
                  image assistante
                </th>
                <th>
                  nom assistante
                </th>
                <th>
                  Status
                </th>
                <th>
                  action
                </th>
                <th>
                  modifier
                </th>
                <th>
                    Delet
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let P of pageOfItems">
              <tr>
                <td class="py-1">
                  <img [src]="P.avatar" alt="image"/>
                </td>
                <td>
                  {{P.name}}
                </td>
                <td>
                  {{P.category}}
                </td>
                <td>
                  {{P.qty}}
                </td>
                <td>
                  {{P.prix}}dt
                </td>
                <td>
                  <img [src]="P.employeur[0].avatar" alt="image"/>
                </td>
                <td>
                  {{P.employeur[0].firstName}} {{P.employeur[0].lastName}}
                </td>
                <td>
                  <div *ngIf="P.status=='yes'" class="badge badge-success">affiché</div>
                  <div *ngIf="P.status=='no'" class="badge badge-danger">non affiché</div>
                </td>
                <td>
                  <div class="buttons">
                    <button (click)="editStatusProduct(P._id,'yes')">Oui</button>
                    <button (click)="editStatusProduct(P._id,'no')" >Non</button>
                  </div>
                </td>
                <td>
                    <button (click)="displayProduct(P._id)" type="button" class="btn btn-inverse-info btn-work">modifier</button> 
                </td>
                <td>
                <button (click)="Delet(P._id)" type="button" class="btn btn-inverse-danger btn-icon">
                 <i class="ti-trash"></i></button> 
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer pb-0 pt-10">
            <jw-pagination [items]="productsTab| filterName:termName" (changePage)="onChangePage($event)"[pageSize]="10"></jw-pagination>
        </div>
        </div>
      </div>
    </div>
  </div>